@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Musical Instruments Shop</h1>
    <p class="lead">Welcome to the best store for musical instruments and all kinds of accessories.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            We have a wide variety of musical instruments and accessories, our experts are ready to help you at any time.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more music</h2>
        <p>Music is the true universal language, we have everything so you can share your music with the world.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Variety and quality</h2>
        <p>We have the best brands, all models and at competitive prices.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>