@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ONLINE MUSIC STORE</h1>
    <p class="lead">The online music store is the leader in electronic commerce of musical instruments and accessories around the world.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to your online music store!</h2>
        <p>
            On this webiste you will find all kinds of musical instruments of many different brands at the best prices.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more of what you like </h2>
        <p>Incredible offers and a complete catalog of products and services at your disposal.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Variety and quality</h2>
        <p>You can browse our website and easily find the instrument and / or accessory you are looking for, our experts are here to help you at any time.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>